# ignore output files
Makefile*
*.o
*~
moc_*
qrc_resources.cpp
Nernst Potential Simulator
Nernst Potential Simulator.app
debug
release
object_script*

# ignore mac directory information
.DS_Store

# ignore any data files we've created
*.out
*.init
